[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filmswap = {editable = true, path = "."}
logzero = "*"
discord = "==2.3.0"
click = ">=8.1"
pydantic = {extras = ["dotenv"], version = "*"}
sqlalchemy = "*"
sqlalchemy-stubs = "*"
matplotlib = "*"
networkx = "*"
sqlite-backup = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.11.3"

[scripts]
bot = "filmswap run"
